{% extends "main.html" %}
{% block content %}
<script type="application/javascript">
    $(document).on('change', '#customFile', function (event) {
        console.log("abcd111");
        $(this).next('.custom-file-label').html(event.target.files[0].name);

    });

    $(document).ready(function() {
        $("#summernote").summernote({
            height:300,
            minHeight: null, 
            maxHeight: null,
            callbacks: {
                onImageUpload: function(image){
                    for(var i=0; i<image.length; i++) {
                        uploadImage(image[i]);
                    }
                }
            }
        });

    })

    function uploadImage(image) {
        var data = new FormData();
        data.append("image", image);

        <!-- To prevent CSRF attack, set csrf_token in ajaxSetup -->
        var csrf_token = "{{csrf_token()}}"
        $.ajaxSetup({
            beforeSend: function(x, s) {
                if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(s.type)) {
                    x.setRequestHeader("X-CSRFToken", csrf_token)
                }
            }
        });

        /* contentType: when file transfer, set to false 
            processData:when not using query string method on url, set to false
        */
        $.ajax({
            url: "{{url_for('board_upload_image')}}",
            cache: false,
            contentType: false, 
            processData: false, 
            data: data,
            type: "post",
            success: function(url) {
                var image = $("<img>").attr("src", url).css('max-width', "900px");
                $("#summernote").summernote("insertNode", image[0]);
            },
            error: function(data) {
                console.log(data);
                alert(data);
            }
        })
    }

    function checkForm() {
        if($.trim($("#name").val()) == "") {
            alert("Write down your name");
            $('#name').focus();
            return false;
        }

        if($("#title").val() == "") {
            alert("Write down a title");
            $('#title').focus();
            return false;
        }

        if($("#summernote").val() == "") {
            alert("Write down a contents");
            $('#summernote').focus();
            return false;
        }

        return true;
    }
</script>
<form name="form" method="POST" action="/edit/{{result._id}}" onsubmit="return checkForm()" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        <label for="name">Writer</label>
        <input class="form-control" type="text" name="name" id="name" value="{{session['name']}}" readonly></input>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" value="{{result.title}}"></input>
    </div>
    {% if result.attachfile %}
    <div class="form-check text-right">
        <input type="checkbox" class="form-check-input" id="deletefile" name="deletefile">
        <label class="form-check-label" for="deletefile">Delete a attached file ({{result.attachfile}})</label>
    </div>
    {% endif %}
    <div class="form-group">
        <label>Contents</label>
        <textarea class="form-control" name="contents" id="summernote">{{result.contents}}</textarea>

    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="attachfile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Edit">
        <a class="btn btn-success" href="{{url_for('board_list')}}">Back to list</a>
    </div>
</form>
{% endblock %}
