{% extends "main.html" %}
{% block content %}
<script>
    function checkForm() {
        if($.trim($("#email").val()) == "") {
            alert("Write down your email");
            $('#email').focus();
            return false;
        }

        if(!validateEmail($.trim($("#email").val()))) {
            alert("Email pattern is not correct");
            $('#email').focus();
            return false;
        }

        if($.trim($("#name").val()) == "") {
            alert("Write down your name");
            $('#name').focus();
            return false;
        }

        if($("#password1").val() == "") {
            alert("Write down your password");
            $('#password1').focus();
            return false;
        }

        if($("#password2").val() == "") {
            alert("Write down your password");
            $('#password2').focus();
            return false;
        }

        if($("#password1").val() != $("#password2").val()) {
            alert("Password doesn't match");
            $('#password2').focus();            
            return false;
        }

        return true;        
    }
</script>
<style>
body{
    margin-top:20px;
    background-color: #f2f3f8;
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
</style>

<form name="form" action="/join" method="POST" onsubmit="return checkForm()" >
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Get started</h1>
                        <p class="lead">
                            Start creating the best possible user experience for you customers.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control form-control-lg" type="email" name="email" id="email" placeholder="Enter your email">
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="Enter your name">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control form-control-lg" type="password" name="password1" id="password1" placeholder="Enter password">
                                    </div>
                                    <div class="form-group">
                                        <label>Password Confirm</label>
                                        <input class="form-control form-control-lg" type="password" name="password2" id="password2" placeholder="Retype password">
                                    </div>
                                    <div class="text-center mt-3">
                                        <!--a href="index.html" class="btn btn-lg btn-primary">Sign up</a> -->
                                        <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>



{% endblock %}