{% extends "main.html" %}
{% block content %}
<script>
    function checkForm() {
        if($.trim($("#email").val()) == "") {
            alert("Write down your email");
            $('#email').focus();
            return false;
        }

        if(!validateEmail($.trim($("#email").val()))) {
            alert("Email pattern is not correct");
            $('#email').focus();
            return false;
        }

        if($.trim($("#name").val()) == "") {
            alert("Write down your name");
            $('#name').focus();
            return false;
        }

        if($("#password1").val() == "") {
            alert("Write down your password");
            $('#password1').focus();
            return false;
        }

        if($("#password2").val() == "") {
            alert("Write down your password");
            $('#password2').focus();
            return false;
        }

        if($("#password1").val() != $("#password2").val()) {
            alert("Password doesn't match");
            $('#password2').focus();            
            return false;
        }

        return true;        
    }
</script>
<form name="form" action="/join" method="POST" onsubmit="return checkForm()" >
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" id="name">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" name="password1" id="password1">
    </div>
    <div class="form-group">
        <label>Password confirm</label>
        <input class="form-control" type="text" name="password2" id="password2">
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Join">
    </div>

</form>
{% endblock %}