{% extends "main.html" %}
{% block content %}
<script>
    function checkForm() {
        if($.trim($("#email").val()) == "") {
            alert("Write down your email");
            $('#email').focus();
            return false;
        }

        if(!validateEmail($.trim($("#email").val()))) {
            alert("Email pattern is not correct");
            $('#email').focus();
            return false;
        }

        if($.trim($("#password").val()) == "") {
            alert("Write down your password");
            $('#password').focus();
            return false;
        }

        return true;        
    }
</script>

<form name="form" action="/login" method="POST" onsubmit="return checkForm()">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
{% if next_url %}
    <input type="hidden" name="next_url" value="{{next_url}}">
{% endif %}




<section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <input type="email" class="form-control form-control-lg" name="email" id="email"/>
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" class="form-control form-control-lg" name="password" id="password" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit" id="login">Login</button>
  
              <hr class="my-4">
  
              <a href="{{url_for('member_join')}}"><button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="button" >Sign Up</button></a>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</form>  


 
{% endblock %}