{% extends "main.html" %}
{% block content %}
<script>
    function checkForm() {
        if($.trim($("#email").val()) == "") {
            alert("Write down your email");
            $('#email').focus();
            return false;
        }

        if(!validateEmail($.trim($("#email").val()))) {
            alert("Email pattern is not correct");
            $('#email').focus();
            return false;
        }

        if($.trim($("#password").val()) == "") {
            alert("Write down your password");
            $('#password').focus();
            return false;
        }

        return true;        
    }
</script>

<form name="form" action="/login" method="POST" onsubmit="return checkForm()">
{% if next_url %}
    <input type="hidden" name="next_url" value="{{next_url}}">
{% endif %}
    <div class="form-group">
        <label for="email">E-mail</label>
        <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Login">
    </div>
</form>
{% endblock %}