{% extends "main.html" %}
{% block content %}
<!-- 
    Double brackets is a syntax from Jinja Template Engine in flask 
    Double bracket : When print out variable value
    One bracket with % : if statement etc..
-->

<script>
    $(document).ready(function() {
        get_comment_list();
    });

    function deleteComment(idx) {
        $.ajax({
            url:"{{url_for('board_comment_delete')}}",
            type: "POST",
            cache: false,
            data: {
                "_id": idx,
                "csrf_token": "{{csrf_token()}}"
            },
            success: function(data) {
                if(data["error"] == "success") {
                    alert("Delete the comment");
                    get_comment_list();
                }
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "Error contents : " + request.responseText + "<br>" + error;
                console.log(msg);
            }

        })
    }

    function editCommentSave(idx) {
        var new_comment = $('#i' + idx).val();

        $.ajax({
            url: "{{url_for('board_comment_edit')}}",
            type: "POST",
            cache: false,
            data: {
                "_id": idx,
                "csrf_token": "{{csrf_token()}}",
                "new_comment": new_comment
            },
            success: function(data) {
                if(data["error"] == "success") {
                    get_comment_list();
                    alert("Comment edited");
                }
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "Error contents : " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })

    }


    function editCommentCancel(idx)  {
        var html = "";
        var comment = $('#i' + idx).data("oricomment");

        html += "<span id='comment_area_"+ idx + "'>";
        html += "<span id='comment_text_" + idx + "'>" + comment + "</span> ";
            html += "<a href='#' onclick='editComment(\"" + idx + "\")'>Edit </a>";
            html += "<a href='#' onclick='deleteComment(\"" + idx + "\")'>Delete</a>";
        html += "</span>"

        $('#comment_area_' + idx).html(html);
    }


    function editComment(idx) {
        var html="";
        var comment = $('#comment_text_' + idx).text();
        html += "<textarea row=3 cols=100 id='i" + idx + "' data-oricomment='" + comment + "'>" + comment;
        html += "</textarea>"
        html += "<a href='#' onclick='editCommentSave(\"" + idx + "\")'>Save | </a>";
        html += "<a href='#' onclick='editCommentCancel(\"" + idx + "\")'>Cancel</a>";
        $("#comment_area_" + idx).html(html);

    }

    function addComment() {
        $.ajax({
            url: "{{url_for('board_comment_write')}}",
            type: "POST",
            data: $("#commentForm").serialize(),
            success: function(data) {
                $("#comment").val("");
                get_comment_list();
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "Error contents : " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })
    }
    function get_comment_list() {
        $.ajax({
            url: "{{url_for('board_comment_list_ajax', root_idx=result._id)}}",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function(data) {
                c = data.comment_lists;
                html = "";
                for(var i=0; i<c.length; i++) {
                    html += "<div>";
                    html += "<span>" + c[i].pubdate + "</span>, ";
                    html += "<span>" + c[i].name + "</span>, ";
                    html += "<span id='comment_area_"+ c[i]._id + "'>";
                    html += "<span id='comment_text_" + c[i]._id + "'>" + c[i].comment + "</span> ";
                    if( c[i].owner ){
                        html += "<a href='#' onclick='editComment(\"" + c[i]._id + "\")'>Edit | </a>";
                        html += "<a href='#' onclick='deleteComment(\"" + c[i]._id + "\")'>Delete</a>";
                    }
                    html += "</span>"
                    html += "</div>";
                }
                $("#cCnt").html(c.length);
                $("#commentList").html(html);
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "Error contents : " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })
    }
</script>

<!-- 
    result variable is from run.py's board_view() function 
-->
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>{{result.title}}</td>
            <td class="text-right">{{result.view}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td class="text-right">{{result.date|formatdatetime}}</td>
        </tr>
        {% if result.attachfile %}
        <tr>
            <td>Attach file</td>
            <td><a href="{{url_for('board_file', filename=result.attachfile)}}">{{result.attachfile}}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><div style="min-height: 200px;">{% autoescape false %}{{result.contents}}{% endautoescape %}</div></td>
        </tr>

    </tbody>

</table>

<a class="btn btn-success" href="{{url_for('board_list', pagePos=pagePos, searchType=searchType, searchKeyword=searchKeyword)}}">Back to list</a>
{% if session["id"] == result.writer_id %}
<a class="btn btn-primary float-right" href="{{url_for('board_edit', idx=result._id)}}">Edit</a>
<a class="btn btn-danger float-right" href="{{url_for('board_delete', idx=result._id)}}">Delete</a>
{% endif %}
<br>
<form id="commentForm" action="{{url_for('board_comment_write')}}" method="POST">
    <input name="csrf_token" value="{{csrf_token()}}">
    <input name="root_idx" value="{{result._id}}">
    <textarea rows="3" cols="100" id="comment" name="comment" placeholder="Shoot your comment"></textarea>
    <a href="#" onclick="addComment()">Shoot a comment!</a>
</form>

<div>Comments <span id="cCnt">0</span></div>
<br>
<div id="commentList"></div>

{% endblock %}