{% extends "main.html" %}
{% block content %}
<!-- 
    Double brackets is a syntax from Jinja Template Engine in flask 
    Double bracket : When print out variable value
    One bracket with % : if statement etc..
-->

<!-- 
    result variable is from run.py's board_view() function 
-->
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>{{result.title}}</td>
            <td class="text-right">{{result.view}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td class="text-right">{{result.date|formatdatetime}}</td>
        </tr>
        <tr>
            <td colspan="2"><div style="min-height: 200px;">{% autoescape false %}{{result.contents}}{% endautoescape %}</div></td>
        </tr>

    </tbody>

</table>

{% if session["id"] == result.writer_id %}
<a class="btn btn-primary float-right" href="{{url_for('board_edit', idx=result._id)}}">Edit</a>
<a class="btn btn-danger float-right" href="{{url_for('board_delete', idx=result._id)}}">Delete</a>
{% endif %}
<a class="btn btn-success" href="{{url_for('board_list', pagePos=pagePos, searchType=searchType, searchKeyword=searchKeyword)}}">Back to list</a>
{% endblock %}